.section {
  background: #d1d1d4;
  padding: 10px 0px;
  position: relative;
  height: 100vh;
}

.sectionBlock {
  animation: 3s show ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 77px;
  color: #490e84;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
}

.images{
  margin-bottom: 20px;
  width: 100vh;
  height: 500px;
  overflow: hidden;
  padding: 10px;
  /* border: 3px solid #490e84; */
  
}


.iphoneImg {
 width: 100%;
 height: 100%;
 display: block;
 animation: 3s show ease;

}

.iphoneButton {
  background: #490e84;
  border-radius: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  padding: 12px 65px;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}



